/* Tablet */
@media (max-width: 992px) {
    /*header*/
  
    .navbar {
      gap: 10px;
    }
  
    .cart-icon .user-icon {
      border: 0px solid;
      height: 40px;
    }
  
    .navbar-list {
      position: absolute;
      top: 65px;
      left: 5%;
      right: 5%;
      width: 90%;
      flex-direction: column;
      background-color: var(--nav-bg);
      border: 2px solid var(--electric);
      border-top: 0px;
      border-radius: 0px 0px 15px 15px;
      align-items: flex-start;
      padding: 45px 30px;
      gap: 25px;
      z-index: 2;
      display: none;
    }
  
    .navbar-list a {
      font-size: 18px;
    }
  
    /* Mostramos el icono del menu */
    .menu-label {
      display: flex;
      order: 2;
      cursor: pointer;
    }
  
    .menu-label img {
      height: 20px;
      width: 25px;
    }
  
    .open-menu {
      display: flex;
    }

    .hero-info {
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  
    .hero-info h1 {
      width: 90%;
      max-width: 500px;
      min-width: unset; /*Quitamos el min-width dado para desktop*/
    }
  
    .hero-info p {
      width: 60%;
      max-width: 600px;
    }

    .hero-right {
      display: none;
    }
    /* Products */
  .categories {
    flex-wrap: wrap;
    max-width: 390px;
  }

  .category {
    width: 120px;
  }
  }



  /* Celu */
@media (max-width: 576px) {
  /* Modificar el carrito para celu*/
  .cart {
    left: 0;
    width: 100%;
    border: none;
  }

  .cart-item {
    flex-wrap: wrap;
  }

  /*Hero*/
  .hero-info p {
    width: 70%;
    max-width: unset;
  }

  .products-container {
    width: 80%;
  }

  .product {
    width: 100%;
  }

  .product-info h3,
  .product-info p,
  .product-info span {
    font-size: 14px;
  }

  .product-user img {
    height: 24px;
  }

}

