@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /* bg colors */
  --background: #eff6ee;
  --primary: #6a994e;
  --secondary: #386641;
  --black: #171716;
  --bg-green: #a7c957;
  --bg-white: #fffcf2;

  --text-white: #f3f4f6;
  --text-black: #252422;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* HEADER */

body {
  background: var(--bg-green);
}

header {
  background-image: linear-gradient(
      0deg,
      rgba(204, 226, 176, 0.7),
      rgba(161, 234, 169, 0.7)
    ),
    url(/assets/img/banner-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0px 30px 0px 30px;
  margin: 0 auto;
  z-index: 999;
}

.logo {
  height: 100%;
  cursor: pointer;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 120px;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--text-black);
  font-size: 16px;
  font-weight: 600;
}

.navbar-list li:first-child > a {
  color: #fafbfa;
  font-weight: 800;
}

.cart-icon {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-black);
  cursor: pointer;
}

.user-icon {
  font-weight: 600;
  border-radius: 10px;
  font-weight: 600;
  font-size: 2rem;
  color: var(--text-black);
  cursor: pointer;
}

/* MENU DE HAMBURGUESA */

.menu-label {
  display: none;
}

/* CARRITO */

.cart {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background: linear-gradient(to top, #121e3c, var(--background));
  border-left: 1px solid var(--bg-green);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color: var(--text-white);
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #2323234e;
  padding: 20px;
  border: 1px solid var(--electric);
  border-radius: 10px;
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-info {
  display: flex;
  flex-direction: column;
  min-width: 110px;
}

.item-title {
  color: var(--text-white);
  font-weight: 600;
  font-size: 14px;
}

.item-price {
  color: var(--text-black);
  font-size: 16px;
  font-weight: 300;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--text-white);
  font-weight: 400;
}

.item-quantity {
  color: var(--text-gray);
}

.up {
  border: 1px solid var(--electric);
}

.down {
  background-color: var(--secondary);
  border: 1px solid var(--electric);
}

.divider {
  margin-top: 20px;
  border: 0.5px solid var(--electric);
  width: 100%;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.cart-total p {
  color: var(--text-white);
  font-weight: 700;
}

.cart-total span {
  color: var(--text-white);
  font-weight: 400;
  font-size: 18px;
}

/* Toggle cart */

.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
  color: var(--text-black);
  font-size: 14px;
}

/* MAIN */

main {
  background: var(--bg-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

/* HERO */

#hero {
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 500px; /*Para que nunca ocupe menos que esto en desktop*/
  font-weight: 800;
  /*Agregamos gradiente en clase 10*/
  background: linear-gradient(to top, #2c6e1f, #082e05);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.hero-info p {
  font-size: 14px;
  font-weight: 500;
  width: 70%;
  color: var(--text-black);
}

.hero-info p > span {
  font-weight: 800;
}

.hero-info a {
  color: var(--text-white);
  background-color: var(--primary);
  width: 120px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.hero-right {
  width: 300px;
  background: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-right img {
  width: 100%;
  cursor: pointer;
}

.slider-container {
  display: block;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.slider-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  position: absolute;
  overflow: hidden;
  animation: slider 20s infinite;
}

.slider-content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.slider-content p {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.slider-content:nth-child(1) {
  left: 0;
  animation-delay: -1s;
  background-image: linear-gradient(
      0deg,
      rgba(204, 226, 176, 0.7),
      rgba(161, 234, 169, 0.7)
    ),
    url(/assets/img/verduras-banner-1.jpg);
  background-size: cover;
  background-position: center;
}

.slider-content:nth-child(2) {
  left: 0;
  animation-delay: 4s;
  background-image: url(/assets/img/verduras-banner-2.jpg);
  background-size: cover;
  background-position: center;
}

.slider-content:nth-child(3) {
  left: 0;
  animation-delay: 9s;
  background-image: url(/assets/img/banner-3.png);
  background-size: cover;
  background-position: center;
}

.slider-content:nth-child(4) {
  left: 0;
  animation-delay: 14s;
  background-image: url(/assets/img/banner-4.png);
  background-size: cover;
  background-position: center;
}

#servicios {
  background-color: #ffffff;
  padding: 60px 0;
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: -20%;
  border-radius: 20px;
}

#servicios h2 {
  color: rgb(22, 87, 35);
}

.servicios-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 150px;
  background-color: #ffffff;
  border-radius: 20px;
}

.servicios-icon {
  width: 250px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0px;
  gap: 25px;
  cursor: pointer;
}



.servicios-icon h1,
p {
  color: #1f960f;
}

/* FEATURED */
.featured {
  background-color: var(--bg-green);
}


.heading{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.heading::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: .01rem;
  background: rgba(0,0,0,.1);
  z-index: -1;
}

.heading span{
  font-size: 3rem;
  padding: .5rem 2rem;
  color: var(--black);
  
}

.featured .featured-slider .box{
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  border: var(--black);
  text-align: center;
}

.featured .featured-slider .box:hover{
  border: var(--border-hover);
}

.featured .featured-slider .box .image{
  padding: 1rem;
  background: #fff;
}

.featured .featured-slider .box:hover .image{
  transform: translateY(2rem);
}

.featured .featured-slider .box .image img{
  height: 15rem;
  width: 15rem;
}

.featured .featured-slider .box .image:hover img{
  background-color: #121e3c;
}

.featured .featured-slider .box .icons{
  border-bottom: var(--border-hover);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
  transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icons{
  transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
  color: var(--black);
  font-size: 2.2rem;
  padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
  background: #bc6c25;
  color: #fff;
}

.featured .featured-slider .box .content{
  background: #eee;
  padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
  font-size: 2rem;
  color: var(--black);
}

.featured .featured-slider .box .content .price{
  font-size: 2.2rem;
  color: var(--black);
  padding-top: 1rem;
}


.featured .featured-slider .box .content .price span{
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
  border: var(--border-hover);
  height: 4rem;
  width: 4rem;
  color: var(--black);
  background: #fff;    
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  background: var(--black);
  color: #fff;
}

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;
}

#products h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
}

/* categories */
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.category {
  background: #1f960f;
  border: none;
  padding: 10px 15px;
  color: #fff3e9;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background: var(--primary);
}

/* products */
.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px 0;
  max-width: 1200px;
}

.product {
  background: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.product-top,
.product-mid,
.product-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product img {
  width: 300px;
}

.product-top h3 {
  font-size: 16px;
  font-weight: 600;
}
.product-top p,
.product-user p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-gray);
}

.btn-add,
.btn-buy {
  background: var(--primary);
  border: none;
  padding: 10px 35px;
  color: var(--bg-white);
  border-radius: 10px;
  cursor: pointer;
}

.btn-buy {
  width: 100%;
}

.btn-load {
  background: none;
  border: 1px solid var(--electric);
  padding: 10px 35px;
  color: var(--bg-white);
  border-radius: 10px;
  cursor: pointer;
}

